html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	font-family: Verdana, Tahoma;
    font-size: 0px;
	background: #FFFFF2;
}

/* All panels */
.roundedBox{
    display: inline-block;
    background: #ffffff;
    border: solid 1px #cccccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #bbbbbb;
}

/* Heading */
#heading{
    height: 40px;
    width: calc(100% - 18px);
    margin: 8px 8px 4px 8px;
    background: #000000;
    font-size: 14px;
}

.headTitle{
	overflow: hidden;
	white-space: nowrap;
	line-height: 40px;
}

.logo{
	display: none;
	height: 30px;
	margin: 5px 0px 0px 10px;
	float: left;
}

.mainTitle{
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	float: left;
	margin: 0px 60px 0px 20px;
}

.subTitle{
	display: inline-block;
	color: #aaaaaa;
	text-decoration: none;
	margin: 0px 15px;
    float: left;
}

.infoImg{
    height: 30px;
    float: right;
    margin: 5px;
    cursor: pointer;
}

/* Infobox and splash screen */

#splash, #infoBox, #colophon{
    position: fixed;
    display: block;
    background: rgb(72,85,102);
    width: 600px;
    margin-right: -300px;
    right: 50%;
    top: 10vh;
    opacity: 1;
    border-radius: 25px;
	max-height: 80vh;
	overflow: auto;
	z-index: 1000;
}

#infoBox, #colophon{
    display: none;
}

.splashText, .infoBoxText, .colophonText{
    padding: 10px 20px;
    font-family: Verdana;
    font-size: 14px;
    color: rgb(255,255,231);
    text-align: justify;
    line-height: 24px;
}

.colophonText{
    text-align: center;
    margin: 5px 0px;
}

.colophonLink{
    color: rgb(248,239,38);
}

.splashButton, .infoBoxButton, .colophonButton{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 80px;
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    background: rgb(81,141,202);
    color: rgb(255,255,231);
}

/* Time Slider */

#timeSlider{
    height: 60px;
    margin: 4px 4px 4px 8px;
	/* Az ArcGIS JS API valamilyen okból eltünteti a div korábbi class-ait, */
	/* így ehhez az id-hez is hozzá kell rendelni a property-ket, amiket */
	/* a .roundedBox osztálynál már beállítottunk. */
	background: #ffffff;
    display: inline-block;
    border: solid 1px #cccccc;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #bbbbbb;   
    width: calc(50% - 14px);
}

.dijitRuleLabel, .dijitRuleLabelH{
	color: #444444;
	font-size: 12px;
}

.dijitRuleMark, .dijitRuleMarkH{
	border-color: #999999;
}

.claro .dijitSlider .dijitSliderProgressBarH, .claro .dijitSlider .dijitSliderLeftBumper{
	background-color: #ffffff;
}

/* Actual panel */

#actualPanel{
	height: 60px;
	margin: 4px 8px 4px 4px;
	width: calc(50% - 14px);
    font-size: 16px;
}

/* Actual area and year */
#placeYear{
    position: relative;
    display: inline-block;
    line-height: 60px;
    margin: 0px 5px 0px 15px;
    float: left;
    font-weight: bold;
}


/* The theme div*/
#theme{
    position: relative;
    display: inline-block;
    line-height: 60px;
    margin: 0px 5px;
    float: right;
}

 /* Dropdown Button */
.dropDownButton{
    background-color: #292929;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
#theme:hover .dropDownButton{
    background-color: #686868;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    right: 0px
}

/* Links inside the dropdown */
.dropdown-content a{
    color: black;
    padding: 4px;
    line-height: 30px;
    text-decoration: none;
    display: block;
    right: 0px;
	font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover{
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
#theme:hover .dropdown-content{
    display: block;
}

/* Main content */

/* Left panels*/

#leftPanel{
    display: inline-block;
    height: calc(100% - 136px);
	width: calc(100% - 16px);
	margin: 4px 4px 8px 8px;
	border: 0px;
}

.panels{
    width: calc(100% - 2px);
}

/* Map */

#map{
    display: inline-block;
	height: calc(100% - 2px);
    position: relative;
}

/* Legend */

.legendImg{
	height: 30px;
    margin: 5px;
}

.legend{
    position: absolute !important;
    top: 10px;
    right: 10px;
    z-index: 1;
    border-radius: 10px;
	border: 2px solid #000000;
}

#legendIcon{
    display: none;
    background: #000000;
    width: 40px;
    height: 40px;
}

#legend{
    display: none;
    background: #ffffff;
    width: 25%;
    max-width: 310px;
    font-size: 14px;
}

.esriLegendServiceLabel{
	display: none !important;
}

.esriLegendLayerLabel{
	font-weight: bold;
    margin-bottom: 10px;
    padding-top: 0px;
}

.esriLegendService{
    padding-bottom: 5px;
}

/* Zoom buttons */

#map_zoom_slider{
    top: 10px;
    left: 10px;
}

/* Search */

#search{
	position: absolute;
	top: 10px;
	left: 50px;
    z-index: 1;
}

/* Right panels */

#rightPanel{
    display: inline-block;
    height: calc(100% - 136px);
    margin: 4px 8px 8px 4px;
	border: 0px;
}

/* Table */
#tab{
    overflow: auto;
}

#tableTitle{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin: 10px 0px 20px 0px;
}

#tableContent table{
    font-size: 12px;
    margin: 0 auto;
    border-collapse: collapse;
    text-align: right;
}

.tableHeading{
    text-align: center;
    font-weight: bold;
    background: #cccccc;
}

.tableRowId{
    text-align: left;
}

#tab tr, #tab td{
    border: 1px solid black;
    padding: 1px 3px;
}

#tab tr:nth-child(even){
    background: #dddddd;
}

.actualYearColumn{
    color: #2B34B1;
}

.hiddenElement{
    display: none;
}

/* Animation */
.fadeOut{
    visibility: hidden;
    opacity: 0
}

.fadeIn{
    transition: opacity ease-in 2s;
    visibility: visible;
    opacity: 1;
}

#heading, #leftPanel, #rightPanel, #timeSlider, #legend, #infoIcon, #theme{
    pointer-events: none;
}

/* Configuration validator */
.configErrorList{
    font-size: 16px;
    padding-left: 20px;
}

/* Make amChart marketing disappear */
/* Reference to amChart in colophon (heading) instead */
.amcharts-chart-div a{
    display: none !important;
}
